
<h1>Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Post</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.post.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>

